h1 {
    color: #004D40;
    font-size: 22px;
    font-weight: bold;
    margin-top: 12%;
    text-align: center;
}

form {
    margin-top: 7%;
    width: 80%;
    margin-left: 10%;
}

form button {
    width: 40%;
    margin-left: 30%;
}

.center {
    text-align: center;
}

ul {
    margin-top: 50%;
    text-align: center;
}

li {
    display: inline;
    padding: 12px;
}

li button {
    width: 40%;
}

@media screen and (min-width: 620px) {

    h1 {
        font-size: 28px;
        margin-top: 4%;
    }

    form {
        margin-top: 2%;
        width: 50%;
        margin-left: 25%;
    }

    form button {
        width: 20%;
        margin-left: 40%;
    }

    ul {
        margin-top: 18%;
        text-align: center;
    }
    
    li {
        display: inline;
        padding: 12px;
    }
    
    li button {
        width: 8%;
    }

    li button#goToChangePasswordPage {
        width: 12%;
    }

}